@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";



@theme {
    --breakpoint-*: initial;
    --breakpoint-sm: 570px;
    --breakpoint-md: 776px;
    --breakpoint-lg: 990px;
    --breakpoint-xl: 1170px;
    --color-secondary: #b3b3b3;
    --color-primary: #db4444;
    --font-inter: "Inter", sans-serif;
    --font-poppins: "Poppins", sans-serif;
}
@utility container{
    margin: auto;
}
.swiper-pagination-bullet {
    width: 12px!important;
    height: 12px !important;
    opacity: 0.2!important;
    background: gray !important;
}

.swiper-pagination-bullet-active {
    background: #ff00e9 !important;
    opacity: 1 !important; 
}
.customize{
    position: relative;
    cursor: pointer;
}
.customize::after{
    content: "";
    position: absolute;
    top: 35px;
    left: 0px;
    width: 0px;
    border-bottom: 2px solid gray;
    transition: 0.4s linear; 
}
.customize:hover::after{
    width: 100%;
}
